POSTGRES_DB=finanzas_personales_dev
POSTGRES_USER=finanzas_dev
POSTGRES_PASSWORD=<set-local-password>
AUTH_JWT_SECRET=<set-strong-auth-secret>
AUTH_COOKIE_SECURE=false
AUTH_SESSION_MAX_AGE_SECONDS=28800
